extends layout

block nav
  ul.nav-items
    li.nav-link.architecture-link
      a(href="#")
        object(type='image/svg+xml' data='/public/images/metrics-28.svg')
          img(src='/public/images/metrics-28.svg')
    li.nav-link
      a(href='#' name='chart').toggle
        object(type='image/svg+xml' data='/public/images/usage-28.svg')
          img(src='/public/images/usage-28.svg')

block architecture
  .architecture
    iframe.architecture-iframe(width='100%', height='500px', scrolling='no', seamless)

block content

  .chart-container.chart-stream.toggleable(name='chart')
    .chart.loading

  h1.title Wishlist additions by product category
  p Brief instructions: uisque mattis nisi velit, et faucibus dolor volutpat quis.

  //- Category Name
  section.category-controls.category-1
    button.minus
        object(type='image/svg+xml' data='/public/images/remove-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    button.plus
        object(type='image/svg+xml' data='/public/images/add-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    div.progress-bar
      h2 Category Name
      progress(max='100' value='20')
          
  //- Category Name
  section.category-controls.category-2
    button.minus
        object(type='image/svg+xml' data='/public/images/remove-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    button.plus
        object(type='image/svg+xml' data='/public/images/add-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    div.progress-bar
      h2 Category Name
      progress(max='100' value='50')
          
  //- Category Name
  section.category-controls.category-3
    button.minus
        object(type='image/svg+xml' data='/public/images/remove-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    button.plus
        object(type='image/svg+xml' data='/public/images/add-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    div.progress-bar
      h2 Category Name
      progress(max='100' value='30')
          
  //- Category Name
  section.category-controls.category-4
    button.minus
        object(type='image/svg+xml' data='/public/images/remove-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    button.plus
        object(type='image/svg+xml' data='/public/images/add-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    div.progress-bar
      h2 Category Name
      progress(max='100' value='70')
          
  //- Category Name
  section.category-controls.category-5
    button.minus
        object(type='image/svg+xml' data='/public/images/remove-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    button.plus
        object(type='image/svg+xml' data='/public/images/add-mark-28.svg')
          img(src='/public/images/remove-mark-28.svg')
    div.progress-bar
      h2 Category Name
      progress(max='100' value='60')
