extends layout

block nav
  ul.nav-items
    li.nav-link
      a(href='#') A link

block content
  h1 Wishlist additions by product category
  p Brief instructions: uisque mattis nisi velit, et faucibus dolor volutpat quis.

  //- Category Name
  section.category-controls
    button.minus -
    button.plus +
    div.progress-bar
      h2 Category Name
      div.progress-bar-glass
        div.progress-bar-juice(style='width:50%')
