extends layout

block nav
  include nav-home

block architecture
  .architecture
    iframe.architecture-iframe(width='100%', height='500px', scrolling='no', seamless)

block content
  .chart-container.chart-stream
    span.title Wishlist Additions By Product Category
    .chart.loading
  
