ul.nav-items
  li.nav-link.architecture-link Architecture
  li.nav-link.has-dropdown Learn More
    ul.dropdown.nav-learn
      li: a(href='https://github.com/heroku-examples/analytics-with-kafka-redshift-metabase') Fork on GitHub
      li: a(href='https://heroku.com/kafka') Apache Kafka on Heroku
  li.nav-link.has-dropdown Demo Admin
    ul.dropdown.nav-learn
      li: a(href='/admin/reload', target='_blank') Truncate and Reload Fixture Data
      li: a(href='/admin/start', target='_blank') Start Data Generator
      li: a(href='/admin/kill', target='_blank') Stop Data Generator
