.audience {
  main {
    align-items: center;
    padding: 0;
  }
  .chart-container {
    margin-bottom: 30px;
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    margin-bottom: 40px;
  }
}

.category-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; /* don't let them overlap */
  flex-grow: 1; /* but do let them fill up the remaining height */
  margin-bottom: 20px;
  max-width: 500px;

  .plus, .minus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plus {
    order: 1;
  }

  .minus {
    order: -1;
  }

  h2 {
    margin: 0 0 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.category-controls button {
  position: relative;
  /*  display: flex;
  justify-content: center;
  align-items: center;*/

  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 30px;
  color: white;
  background: #ccc;

  &:focus {
    border-radius: 50px;
    outline: none;
    border: 4px solid rgba(255, 255, 255, 0.5);
  }

  /* todo: fix this bug */
  &:active:before {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    top: -9px;
    left: -9px;
    position: absolute;
  }
}

.progress-bar {
  flex: 1;
  text-align: center;
  margin: 0 10px;

  dispay: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.category-controls {
  progress {
    border: 0;
    height: 8px;
    border-radius: 50px;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    border: 0;
    height: 8px;
    border-radius: 50px;
    background: #dedede;
  }
  progress::-moz-progress-bar {
    border: 0;
    height: 8px;
    border-radius: 50px;
    background: #dedede;
  }
  progress::-webkit-progress-value {
    border: 0;
    height: 8px;
    border-radius: 50px;
    background: $hColor1;
  }
}

/* Colors */

.category-controls.category-1 {
  button {
    background: $hColor1;
  }
  progress::-webkit-progress-value {
    background: $hColor1;
  }
  h2 {
    color: $hColor1;
  }
}

.category-controls.category-2 {
  button {
    background: $hColor2;
  }
  progress::-webkit-progress-value {
    background: $hColor2;
  }
  h2 {
    color: $hColor2;
  }
}

.category-controls.category-3 {
  button {
    background: $hColor3;
  }
  progress::-webkit-progress-value {
    background: $hColor3;
  }
  h2 {
    color: #599551;
  } /* this one's a little darker because it's not a suitable text color */
}

.category-controls.category-4 {
  button {
    background: $hColor4;
  }
  progress::-webkit-progress-value {
    background: $hColor4;
  }
  h2 {
    color: #d08542;
  } /* this one's a little darker because it's not a suitable text color */
}

.category-controls.category-5 {
  button {
    background: $hColor5;
  }
  progress::-webkit-progress-value {
    background: $hColor5;
  }
  h2 {
    color: $hColor5;
  }
}
