header {
  height: $headerHeight;

  body.salesforce & {
    height: $sfHeaderHeight;
  }

  .logo {
    position: relative;
    z-index: 10;
  }

  object {
    pointer-events: none; /* make objects clickable when they're linked */
  }

  nav {
    height: 100%;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;
  }

  .nav-items > li {
    margin-left: 15px;
    padding: 17px 0 15px;
    position: relative;
    display: inline-block;
    font-size: 0.9em;

    &.nav-link {
      border-left: 1px solid $hLinkBorder;
      border-right: 1px solid $hLinkBorder;
      margin-left: 0;
      padding: 17px 15px;

      &:first-of-type {
        border-left: 2px solid $hLinkBorder !important;
      }

      &:hover {
        cursor: pointer;

        .dropdown {
          display: block;
        }
      }
    }

    &.has-dropdown {
      position: relative;
      /*       padding-right: 30px;

     &:after {
        content: '\02c6';
        font-size: 150%;
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 15px;
        transform: rotate(180deg);
      }*/
    }
  }

  .title {
    font-weight: 400;

    body.heroku &,
    body.salesforce & {
      color: white;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }

    @media screen and (min-width: 601px) {
      position: absolute;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      text-align: center;
    }
  }

  .dropdown {
    width: 200px;
    padding: 10px 20px;
    display: none;
    position: absolute;
    z-index: 10;
    right: -3px;
    top: 45px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $hBorder;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    line-height: 1.3;
    color: $hText;
    cursor: default;

    li a {
      margin: 10px 0;
      display: block;
      text-decoration: none;
      color: $hText;
    }
  }

  body.heroku & {
    background: $hHeader;
    color: $hHeaderText;

    .logo {
      width: 108px;
      height: 30px;
      background: url('/public/logo-heroku-white.svg') no-repeat center center;
    }
  }

  body.salesforce & {
    background: $sfHeader;
    color: $sfHeaderText;

    .logo {
      width: 93px;
      height: 65px;
      background: url('/public/logo-salesforce.svg') no-repeat center center;
      background-size: 93px 65px;
    }
  }
}
