@import '../node_modules/normalize.css/normalize.css';
@import './utils.css';
@import './colors.css';

* {
  box-sizing: border-box;
}

$gutter: 20px;
$headerHeight: 50px;
$break: 800px;

$hHeader: red;
$hHeaderText: #fff;
$hText: $purple;

$sfHeader: #ccc;
$sfHeaderText: blue;
$sfText: #ccc;

header {
  height: $headerHeight;
  background: $hHeader;
  color: $hHeaderText;
  font-weight: 100;

  nav {
    padding: 15px $gutter;
  }

  body.salesforce & {
    background: $sfHeader;
    color: $sfHeaderText;
  }
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $gutter $gutter 0 $gutter;
  background: #FAFAFB;
}

.chart-container {
  display: flex;
  width: 100%;
  margin-bottom: $gutter;
  height: 400px;
  flex-direction: column;

  @media screen and (width >= $break) {
    min-height: auto;
    width: calc(50% - $gutter / 2);
    height: calc(45vh - $headerHeight - ($gutter / 4));

    &:nth-child(-n+2) {
      height: calc(55vh - $headerHeight - ($gutter / 4));
    }
  }

  .title {
    color: $hText;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 1em;
    body.salesforce & {
      color: $sfText;
    }
  }

  .chart {
    border: 1px solid #CFD6E3;
    border-radius: 3px;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .chart.loading:after {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 30px);
    color: #ccc;
    height: 18px;
    width: 60px;
    text-align: center;
    content: '...';
  }
}
