@import '../node_modules/normalize.css/normalize.css';
@import './utils.css';
@import './chart-colors.css';

* {
  box-sizing: border-box;
}

$gutter: 15px;
$headerHeight: 50px;
$footerHeight: 40px;
$break: 800px;

$hHeader: linear-gradient(to right, #3d3f74, #6757a0);
$hHeaderText: #fff;
$hText: #73629e;
$hBorder: #d8dde6;

$sfHeader: #dae0e4;
$sfHeaderText: #29347c;
$sfText: #054d61;
$sfBorder: #d8dde6;

$diagramHeight: 480px;
$diagramHeightMobile: 540px;
$diagramBreakpoint: 610px;

body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  height: $headerHeight;
  font-weight: 100;

  .logo {
    position: relative;
    z-index: 10;
  }

  nav {
    padding: 0 $gutter;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .nav-items > li {
    margin-left: 15px;
    padding: 17px 0 15px;
    position: relative;
    display: inline-block;
    font-size: .9em;

    &.nav-link:hover {
      cursor: pointer;

      .dropdown {
        display: block;
      }
    }

    &.title {
      font-weight: 400;

      &:after {
        margin-left: 15px;
        content: 'â‚';
        display: inline-block;
        opacity: .5;
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  .dropdown {
    width: 200px;
    padding: 10px 20px;
    display: none;
    position: absolute;
    z-index: 10;
    right: -3px;
    top: 40px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $hBorder;
    box-shadow: 2px 2px 4px rgba(0,0,0,.05);
    line-height: 1.3;
    color: $hText;
    cursor: default;

    li a {
      margin: 10px 0;
      display: block;
      text-decoration: none;
      color: $hText;
    }
  }

  body.heroku & {
    background: $hHeader;
    color: $hHeaderText;

    .logo {
      width: 108px;
      height: 30px;
      margin-top: 10px;
      background: url('/images/logo-heroku-white.svg') no-repeat center center;
    }
  }

  body.salesforce & {
    background: $sfHeader;
    color: $sfHeaderText;

    .logo {
      width: 93px;
      height: 65px;
      top: 6px;
      background: url('/images/logo-salesforce.svg') no-repeat center center;
      background-size: 93px 65px;
    }
  }
}

.architecture {
  width: 100%;
  height: $diagramHeight;
  padding: 20px 5px;
  position: absolute;
  top: $headerHeight;
  z-index: 0;
  background: white;
  text-align: center;

  img {
    max-width: 100%;
  }

  iframe {
    border: none;

    @media screen and (max-width: $diagramBreakpoint) {
      height: $diagramHeightMobile;
    }
  }

  @media screen and (max-width: $diagramBreakpoint) {
    height: $diagramHeightMobile;
  }
}

main {
  height: calc(100vh - $headerHeight);
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #f2f2f4, #fff);
  transition: transform .5s;

  @media screen and (width >= $break) {
    padding: $gutter;
    padding-bottom: 10px;
  }

  body.salesforce & {
    padding-top: 20px;
  }

  &.open {
    transform: translate(0px, $diagramHeight);

    @media screen and (max-width: $diagramBreakpoint) {
      transform: translate(0px, $diagramHeightMobile);
    }
  }

  @media screen and (width >= $break) {
    .footer-legend {
      flex-basis: $footerHeight;
    }

    .chart-list {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }
  }
}

/* --- Chart containers --*/
.chart-container {
  width: 100%;
  height: 400px;
  padding: $gutter;
  display: flex;
  flex-direction: column;

  @media screen and (width >= $break) {
    width: 50%;
    min-height: auto;
    height: calc(45vh - ($headerHeight + $footerHeight));
    padding-bottom: 0;

    &:nth-child(-n+2) {
      height: calc(55vh - ($headerHeight + $footerHeight));
    }
  }

  text {
    cursor: default;
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: .8em;
    line-height: 1.3;
    letter-spacing: 1px;

    body.heroku & {
      color: $hText;
    }

    body.salesforce & {
      color: $sfText;
    }
  }

  .chart {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;

    body.heroku & {
      border-color: $hBorder;
    }

    body.salesforce & {
      border-color: $sfBorder;
    }
  }

  .chart.loading:after {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 30px);
    color: #ccc;
    height: 18px;
    width: 60px;
    text-align: center;
    content: '...';
  }
}

/* --- Averages table --*/
.chart-averages {
  table {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: .9em;
    body.heroku & { color: $hChartText; }
    body.salesforce & { color: $sfChartText; }
  }

  tr.data {
    height: 19%;

    body.heroku & {
      &:nth-child(1) td:not(:first-child) { color: $hColor1; }
      &:nth-child(2) td:not(:first-child) { color: $hColor2; }
      &:nth-child(3) td:not(:first-child) { color: $hColor3; }
      &:nth-child(4) td:not(:first-child) { color: $hColor4; }
      &:nth-child(5) td:not(:first-child) { color: $hColor5; }
      &:nth-child(6) td:not(:first-child) { color: $hColor6; }
    }

    body.salesforce & {
      &:nth-child(1) td:not(:first-child) { color: $sfColor1; }
      &:nth-child(2) td:not(:first-child) { color: $sfColor2; }
      &:nth-child(3) td:not(:first-child) { color: $sfColor3; }
      &:nth-child(4) td:not(:first-child) { color: $sfColor4; }
      &:nth-child(5) td:not(:first-child) { color: $sfColor5; }
      &:nth-child(6) td:not(:first-child) { color: $sfColor6; }
    }

    td {
        width: 25%;

        &:not(:first-child) {
          font-weight: bold;
          font-size: 1.5em;
          text-align: center;

          &:after {
            margin-left: 5px;
            display: inline-block;
            content: '/s';
            font-size: .7em;
            font-weight: normal;
            body.heroku & { color: $hChartText; }
            body.salesforce & { color: $sfChartText; }
          }
        }
      }
  }

  tr.title {
    height: 5%;

    td {
      text-decoration: uppercase;
    }
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 20px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
  left: 0;
  top: 0;

  body.heroku & {
    border-color: $hBorder;
  }

  body.salesforce & {
    border-color: $sfBorder;
  }
}

.footer-legend {
  margin-top: $gutter;

  @media screen and (width >= $break) {
    height: $footerHeight;
    margin-top: 0;
  }

  ul {
    margin: 0 $gutter;
    padding: 5px 0 0;
    background: white;
    border-top: 1px solid $hBorder;

    li {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      padding: 11px 0;
      padding-left: 25px;
      font-size: 12px;

      &:before {
        width: 16px;
        height: 16px;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 8px;
      }

      body.heroku & {
        &.color-1:before {background: $hColor1;}
        &.color-2:before {background: $hColor2;}
        &.color-3:before {background: $hColor3;}
        &.color-4:before {background: $hColor4;}
        &.color-5:before {background: $hColor5;}
        &.color-6:before {background: $hColor6;}
      }

      body.salesforce & {
        &.color-1:before {background: $sfColor1;}
        &.color-2:before {background: $sfColor2;}
        &.color-3:before {background: $sfColor3;}
        &.color-4:before {background: $sfColor4;}
        &.color-5:before {background: $sfColor5;}
        &.color-6:before {background: $sfColor6;}
      }
    }
  }
}
