@import '../node_modules/normalize.css/normalize.css';
@import './utils.css';
@import './chart-colors.css';

* {
  box-sizing: border-box;
}

$gutter: 15px;
$headerHeight: 50px;
$break: 800px;

$hHeader: linear-gradient(to right, #3d3f74, #6757a0);
$hHeaderText: #fff;
$hText: #73629e;
$hBorder: #d8dde6;

$sfHeader: #dae0e4;
$sfHeaderText: #29347c;
$sfText: #054d61;
$sfBorder: #d8dde6;

body {
  position: relative;
}

header {
  height: $headerHeight;
  background: $hHeader;
  color: $hHeaderText;
  font-weight: 100;

  .logo {
    width: 108px;
    height: 30px;
    margin-top: 10px;
    background: url('/images/logo-heroku-white.svg') no-repeat center center;
  }

  nav {
    padding: 0 $gutter;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .nav-items > li {
    margin-left: 15px;
    padding: 17px 0 15px;
    position: relative;
    display: inline-block;
    font-size: .9em;

    &:hover {
      cursor: pointer;

      .dropdown {
        display: block;
      }
    }
  }

  .dropdown {
    width: 200px;
    padding: 10px 20px;
    display: none;
    position: absolute;
    z-index: 10;
    right: -3px;
    top: 40px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $hBorder;
    box-shadow: 2px 2px 4px rgba(0,0,0,.05);
    color: $hText;
    cursor: default;

    li a {
      margin: 10px 0;
      display: block;
      text-decoration: none;
      color: $hText;
    }

    &.nav-legend {

      li {
        position: relative;
        padding: 10px 0;
        padding-left: 30px;

        &:before {
          width: 20px;
          height: 20px;
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 8px;
        }

        &.color1:before {background: $hColor1;}
        &.color2:before {background: $hColor2;}
        &.color3:before {background: $hColor3;}
        &.color4:before {background: $hColor4;}
      }
    }
  }

  body.salesforce & {
    background: $sfHeader;
    color: $sfHeaderText;

    .logo {
      width: 110px;
      height: 77px;
      background: url('/images/logo-salesforce.svg') no-repeat center center;
    }
  }
}

.architecture {
  width: 100%;
  height: 450px;
  position: absolute;
  top: $headerHeight;
  z-index: 0;
  background: white;
  text-align: center;

  img {
    max-width: 100%;
  }
}

main {
  height: calc(100vh - $headerHeight);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #f2f2f4, #fff);

  @media screen and (width >= $break) {
    padding: $gutter;
    padding-bottom: 0;
  }

  &.open {
    transform: translate(0px, 450px);
  }
}

.chart-container {
  width: 100%;
  height: 400px;
  padding: $gutter;
  display: flex;
  flex-direction: column;

  @media screen and (width >= $break) {
    width: 50%;
    min-height: auto;
    height: calc(45vh - $headerHeight);

    &:nth-child(-n+2) {
      height: calc(55vh - $headerHeight);
    }
  }

  .title {
    color: $hText;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: .85em;
    letter-spacing: 1px;
    body.salesforce & {
      color: $sfText;
    }
  }

  .chart {
    border: 1px solid $hBorder;
    border-radius: 3px;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    body.salesforce & {
      border-color: $sfBorder;
    }
  }

  .chart.loading:after {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 30px);
    color: #ccc;
    height: 18px;
    width: 60px;
    text-align: center;
    content: '...';
  }
}
